<div class="row" ng-show="showModal">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left input_mask">

                <div class="form-group col-md-12 col-sm-12 col-xs-12">

                    <div class="form-group col-md-12 col-sm-12 col-xs-12" >
                        Type new Tag Name here
                        <input type="text" class="form-control" placeholder=""  ng-model="tagNameData" required>
                        Type new Tag description here
                        <input type="text" class="form-control" placeholder=""  ng-model="tagDesc" required>

                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-10">
                            <button type="submit" class="btn btn-success" ng-click="addNewTag()">Save</button>

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>


</div>
</div>
</div>