<div class="row">
    <div class="col-md-12 col-lg-12  col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Add Facebook Pages <small id="message"></small></h2>
                <div class="clearfix"></div>
            </div>
            </br>

            <div class="x_content">
                <div id="fb-root"></div>

                <div id="status">
                     <img src="assets/images/LoginWithFacebook.png" style="cursor:pointer;" ng-click="Login()"/>
                </div>
                <br/>
                <div class="row">

                    <p>Page List</p>

                    <div  class="col-md-55" ng-repeat="page in fbPageList">
                        <div id="{{page.id}}" class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="assets/images/noimage.jpg" ng-src="{{page.picture.data.url}}" alt="image" />
                                <div class="mask no-caption">
                                    <div class="tools tools-bottom">
                                        <a href="javascript:void(0);"><i class="fa fa-plus" ng-click="addPageToSystem(page);" title="Add To System"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p><strong>{{page.name}}</strong>
                                </p>
                                <p>{{page.category}}</p>
                            </div>
                        </div>
                    </div>

                    </br>
                    </br>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12 col-lg-12  col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> Added Facebook Pages </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="close-link"><i class="fa fa-refresh" ng-click="GetFacebookAccounts()"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>
            </br>

            <div class="x_content">
                <br/>
                <div class="row">

                    <div ng-show="isLoading" >
                        <div class="row ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="data-state-wrap">
                                    Loading...
                                </div>

                            </div>
                        </div>
                    </div>

                    <p>Active Page List</p>
                    <div ng-hide="isLoading"   class="col-md-55" ng-repeat="page in exssitingPageList" ng-if='page.fb.status == true'>
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="assets/images/noimage.jpg" ng-src="{{page.fb.pagePicture}}" alt="image" />
                                <div class="mask no-caption">
                                    <div class="tools tools-bottom">
                                        <a href="javascript:void(0);"><i class="fa fa-image" ng-click="updatePicture(page)" title="Update Picture"></i></a>
                                        <!--<a href="javascript:void(0);"><i class="fa fa-plus" ng-click="ActivateFacebookAccount(page)" title="Update Account"></i></a>-->
                                        <a href="javascript:void(0);"><i class="fa fa-times" ng-click="DeleteFacebookAccount(page);" title="Delete Account"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p><strong>{{page.fb.firstName}}</strong>
                                </p>
                                <p>{{page.fb.lastName}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <br/>
                <div class="ln_solid"></div>
                </br>
                <div ng-show="isLoading" >
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="data-state-wrap">
                                Loading...
                            </div>

                        </div>
                    </div>
                </div>
                <p>Deleted Page List</p>
                <div ng-hide="isLoading"   class="col-md-55" ng-repeat="page in exssitingPageList" ng-if='page.fb.status == false'>
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="assets/images/noimage.jpg" ng-src="{{page.fb.pagePicture}}" alt="image" />
                            <div class="mask no-caption">
                                <div class="tools tools-bottom">
                                    <a href="javascript:void(0);"><i class="fa fa-plus" ng-click="ActivateFacebookAccount(page)" title="Update Account"></i></a>
                                    <!--<a href="javascript:void(0);"><i class="fa fa-times" ng-click="DeleteFacebookAccount(page);" title="Delete Account"></i></a>
                                    <a href="javascript:void(0);"><i class="fa fa-image" ng-click="updatePicture(page)" title="Update Picture"></i></a>-->
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <p><strong>{{page.fb.firstName}}</strong>
                            </p>
                            <p>{{page.fb.lastName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>