<div class="row">

    <div class="col-md-12 col-sm-6 col-xs-12">

        <!-- application list -->
        <div class="x_panel bg-light-gray animated fadeIn">
            <div class="x_title border-0">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="font-robot font-300 text-uppercase font-15">New Request router configuration</h2>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 form-group top_search">
                    <div class="input-group">
                        <input type="text" ng-model="searchCriteria" class="form-control"
                               placeholder="Search for...">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Go!</button>
                                </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="tile-stats m-top15">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="row">
                                <!--<label class="control-label col-md-2 col-sm-6 col-xs-12">Server Type</label>-->
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select class="form-control has-feedback-left" ng-model="newArds.ServerType"
                                            ng-model-options="{trackBy: '$value'}">
                                        <option value="" disabled selected>Select server type</option>
                                        <option ng-repeat="server in RequestServers" value="{{server.ServerType}}">
                                            {{server.ServerType}}
                                        </option>
                                    </select>
                                    <span class="fa fa-cog form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select class="form-control has-feedback-left" ng-model="newArds.RequestType"
                                            ng-model-options="{trackBy: '$value'}">
                                        <option value="" disabled selected>Select request type</option>
                                        <option ng-repeat="task in tasks" value="{{task.ResTaskInfo.TaskType}}">
                                            {{task.ResTaskInfo.TaskType}}
                                        </option>
                                    </select>
                                    <span class="fa fa-cog form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select class="form-control has-feedback-left"
                                            ng-model="newArds.ReqHandlingAlgo">
                                        <option value="" disabled selected>Select request handling type</option>
                                        <option>QUEUE</option>
                                        <option>DIRECT</option>
                                    </select>
                                    <span class="fa fa-cog form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select class="form-control has-feedback-left"
                                            ng-model="newArds.ReqSelectionAlgo">
                                        <option value="" disabled selected> request selection type</option>
                                        <option>LONGESTWAITING</option>
                                    </select>
                                    <span class="fa fa-cog form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select class="form-control has-feedback-left"
                                            ng-model="newArds.ServingAlgo">
                                        <option value="" disabled selected>resource Serving type</option>
                                        <option>DIRECT</option>
                                        <option>CALLBACK</option>
                                    </select>
                                    <span class="fa fa-cog form-control-feedback left" aria-hidden="true"></span>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select class="form-control has-feedback-left" ng-model="newArds.HandlingAlgo"
                                            placeholder="Select Resource Handling">
                                        <option value="" disabled selected>resource Handling type</option>
                                        <option>SINGLE</option>
                                        <option>MULTIPLE</option>
                                    </select>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12  ">
                                        <tags-input ng-model="attributeGroup" display-property="GroupName"
                                                    add-from-autocomplete-only="true" on-tag-added="onChipAdd($tag)"
                                                    on-tag-removed="onChipDelete($tag)" ng-disabled="" min-length="1"
                                                    placeholder="Add a group">
                                            <auto-complete source="querySearch($query)"
                                                           load-on-empty="true"
                                                           load-on-focus="true"
                                                           min-length="1"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <select class="form-control has-feedback-left" ng-model="newArds.SelectionAlgo"
                                            placeholder="Select Resource Selection">
                                        <option value="" disabled selected>Resource selection</option>
                                        <option value="BASIC">Basic Routing</option>
                                        <option value="BASICTHRESHOLD">Basic Threshold Routing</option>
                                        <option value="WEIGHTBASE">Weight Base Routing</option>
                                        <option value="LOCATIONBASE">Location Base Routing</option>
                                    </select>
                                    <span class="fa fa-cog form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="number" class="form-control has-feedback-left"
                                           placeholder="Max Reserved Time"
                                           ng-model="newArds.MaxReservedTime" required
                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/">
                                    <span class="form-control-feedback left" aria-hidden="true">sec</span>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="number" class="form-control has-feedback-left"
                                           placeholder="Max aterWork time"
                                           ng-model="newArds.MaxAfterWorkTime" required
                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/">
                                    <span class="form-control-feedback left" aria-hidden="true">sec</span>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="number" class="form-control has-feedback-left"
                                           placeholder="Max Freeze time"
                                           ng-model="newArds.MaxFreezeTime" required
                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/">
                                    <span class="form-control-feedback left" aria-hidden="true">sec</span>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <input type="number" class="form-control "
                                           placeholder="Max reject count"
                                           ng-model="newArds.MaxRejectCount" required
                                           ng-pattern="/^(?:100|[1-9]?[0-9])$/">
                                </div>
                            </div>


                            <div class="row">


                                <div class="col-md-12 col-sm-12 col-xs-12  ">
                                    <button type="button" class="btn btn-success  btn- pull-right"
                                            ng-click="addNewArds(newArds)">
                                        Add
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end -->

        <!-- view application users -->


        <div class="x_panel ">
            <div class="x_content">
                <ul class="list-unstyled ">
                    <li ng-repeat="Ards in ArdsList | filterBy: ['ServerType']: searchCriteria">
                        <editardsconfig ards="Ards" ardslist="ArdsList" groups="groups" tasks="tasks" request-servers="RequestServers" update-application="removeDeleted(App)"
                                        reloadpage="reloadPage()"></editardsconfig>
                    </li>

                    <paging ng-show="showPaging"
                            class="small"
                            page="currentPage"
                            page-size="pageSize"
                            total="pageTotal"
                            show-prev-next="true"
                            show-first-last="true"
                            text-next-class="glyphicon glyphicon-chevron-right"
                            text-prev-class="glyphicon glyphicon-chevron-left"
                            text-first-class="glyphicon glyphicon-backward"
                            text-last-class="glyphicon glyphicon-forward"
                            paging-action="getPageData('attribute', page, pageSize, total)">
                    </paging>
                </ul>
            </div>
        </div>
    </div>

</div>

</div>
