<div>
    <div class="col-md-6 col-sm-6">
        <h2 class="font-robot font-300 text-uppercase font-15 ng-binding">SLA Configuration :
            {{title}}</h2>
    </div>

    <div class="col-md-6">
        <div class="back-btn-wrapper" ng-click="backToList()">
            BACK
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 987px;">
            <uib-tabset active="0">
                <uib-tab index="0" heading="Filter Conditions">
                    <div ng-include="'views/ticket-sla/slaFilter.html'">
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Matrices">
                    <div ng-include="'views/ticket-sla/slaMatrix.html'">
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>