<div class="row" style="margin-top: 15px;">
    <div class="col-md-3">
        <label>Agent Name</label>
        <select name="datatable-responsive_length"
                ng-model="filter.selectedFiled"
                ng-change="filter.updateValue(filter.selectedFiled)"
                aria-controls="datatable-responsive" class="form-control col-md-12 ">
            <option value="" disabled selected>Select Field</option>
            <option ng-repeat="filedName in filter.data"
                    value="{{filedName.type}}">
                {{filedName.field}}
            </option>
        </select>
    </div>
    <div class="col-md-3">
        <label>Agent Name</label>
        <select name="datatable-responsive_length"
                aria-controls="datatable-responsive" class="form-control col-md-12 ">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="col-md-3">
        {{filter.selectedFiled}}
        <label>Agent Name</label>
        <div class="" ng-show="!filter.selectedFiled">
            select filed type
        </div>
        <div ng-switch on="filter.selectedFiled">
            <div ng-switch-when="Date">
                <input type="text" class="form-control" ng-model="obj.startDay" name="startDate"
                       datepicker>
            </div>
            <div ng-switch-when="String">
                <input type="text" class="form-control has-feedback-left"
                       placeholder="">
            </div>
            <div ng-switch-when="Boolean">
                <select name="datatable-responsive_length"
                        aria-controls="datatable-responsive" class="form-control col-md-12 ">
                    <option value="" disabled selected>Select Field</option>
                    <option value="10">True</option>
                    <option value="25">False</option>
                </select>
            </div>
            <div ng-switch-when="Number"><input type="text" class="form-control has-feedback-left"
                                                placeholder=""></div>
            <div ng-switch-when="Select">
                <select name="datatable-responsive_length"
                        aria-controls="datatable-responsive" class="form-control col-md-12 ">
                    <option value="" disabled selected>Select Field</option>
                    <option value="10">True</option>
                    <option value="25">False</option>
                </select>
            </div>
            <div ng-switch-when="ObjectID"><input type="text" class="form-control has-feedback-left"
                                                  placeholder=""></div>
            <div ng-switch-when="Array"><input type="text" class="form-control has-feedback-left"
                                               placeholder=""></div>
            <div ng-switch-when="Embedded"><input type="text" class="form-control has-feedback-left"
                                                  placeholder=""></div>
        </div>


    </div>
    <div class="col-md-3 text-center">
        <!--<div class="btn-add-form remove" ng-if="!$last" ng-show="filter.length!=1"-->
             <!--ng-click="removeFilter(filter.id);">-->
            <!--<i class="ti-close"></i>-->
        <!--</div>-->
        <div class="btn-add-form "  ng-click="addNewFilter();">
            <i class="ti-plus"></i>
        </div>
    </div>
</div>