<div class="row" ng-show="showMesssageModal">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel modal-panel">


            <div class="notify-img-modal md-col-3">

                <img src="assets/images/defaultProfile.png"
                     ng-src="{{MessageObj.avatar}}">

            </div>
            <div class="notification-modal-time pull-right">
                <time-ago from-time='{{MessageObj.resv_time}}'
                          format='MM/dd/yyyy'></time-ago>
            </div>
            <div class="row console-notification-modal-wrapper"
                 ng-slimscroll
                 opacity="0.1"
                 distance="10px"
                 height="100px"
                 width="100%"
                 ng-mouseover="chatWidgetscrollEnabled = true"
                 ng-mouseleave="chatWidgetscrollEnabled = false">
                <div class="modal-message-wrapper">{{MessageObj.Message}}</div>
            </div>
            <div style="height:10px"></div>

        </div>
        <div class=" pull-right row notify-modal-btn-wrap" >

            <button type="submit" class="btn btn-success" ng-click="keepNotification()">Keep</button>
            <!--<button type="submit" class="btn btn-success" ng-click="addToTodo()">Add to To-Do</button>-->
            <button type="submit" class="btn btn-primary" ng-click="discardNotification(MessageObj)">Discard</button>

        </div>
    </div>
</div>