<div class="col-md-4 col-xs-12">
    <div class="x_panel tile ">
        <div class="x_title">
            <h2>{{campaign.CampaignName}}</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <table class="countries_list">
                    <tbody>
                    <tr>
                        <td>Campaign Mode</td>
                        <td class="fs15 fw700 text-right">{{campaign.CampaignMode}}</td>
                    </tr>
                    <tr>
                        <td>Campaign Channel</td>
                        <td class="fs15 fw700 text-right">{{campaign.CampaignChannel}}</td>
                    </tr>
                    <tr>
                        <td>Dialout Mechanism</td>
                        <td class="fs15 fw700 text-right">{{campaign.DialoutMechanism}}</td>
                    </tr>
                    <tr>
                        <td>Extensions</td>
                        <td class="fs15 fw700 text-right">{{campaign.Extensions}}</td>
                    </tr>
                    <tr>
                        <td>Action</td>
                        <td class="fs15 fw700 text-right"><a title="Start" ng-disabled="true" ng-click="StartCampaign(campaign)" style="cursor: pointer">
                            <i class="fa fa-play" ></i>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>