<div id="login-bg" class="logi animated fadeIn " ng-controller="reEnterPWCtrl">
    <img src="assets/images/bg_10444x1000.jpg" id="bg" alt="">
    <div>
        <div class="login_wrapper">
            <div class="form login_form">
                <section class="login_content">

                    <form name="reEnterPwForm">
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="validation-area">
                                    <!-- password  -->
                                    <label class="dark-frm-label">Password
                                        <span class="inline-block validation-on"
                                              ng-show="reEnterPwForm.password.$invalid && !reEnterPwForm.password.$pristine">*
                                    </span></label>
                                    <input type="password" ng-model="password"
                                           class="form-control dark-frm-input"
                                           name="password"
                                           id="password"
                                           placeholder=""
                                           required=""/>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="validation-area">
                                    <!-- confirm password -->
                                    <label class="dark-frm-label">Confirm password
                                        <span class="inline-block validation-on"
                                              ng-show="reEnterPwForm.confirmPwd.$invalid && !reEnterPwForm.confirmPwd.$pristine">*
                                    </span></label>
                                    <input type="password" password-verify="password"
                                           ng-model="confirmPwd"
                                           class="form-control dark-frm-input"
                                           name="confirmPwd"
                                           placeholder=""
                                           required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button ng-if="!isLoadinRstPwd" class="btn btn-default btn-block submit"
                                    ng-disabled="reEnterPwForm.$invalid"
                                    ng-click="ReEnterPassword()">Reset
                            </button>
                            <button ng-if="isLoadinRstPwd" class="btn btn-default btn-block submit"
                                    disabled> Please Wait..
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

