<div>
    <div class="page-title">
        <div class="title_left">
            <h3 class="font-robot font-600 ">Call Center Performance Report</h3>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 animated fadeIn">
        <div class="row">
            <div class="x_panel">
                <div class="x_title bottom-gray-200 m-bottom20">
                    <h4 class="font-robot font-300 text-uppercase font-15">Search option
                    </h4>

                    <div class="clearfix"></div>
                </div>

                <div class="col-sm-3">
                    <label>Start Date</label>
                    <input type="text" class="form-control" ng-model="startDate" ng-change="onDateChange()"
                           name="startDate"
                           datepicker>
                </div>
                <div class="col-sm-3">
                    <label>End Date</label>
                    <input type="text" class="form-control" ng-model="endDate" ng-change="onDateChange()" name="endDate"
                           datepicker>
                </div>
                <div class="col-sm-4">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="x_content btn-wrap-header">
                            <button type="button" class="btn btn-success" ng-click="loadReportData()"
                                    ng-disabled="!dateValid">
                                Search
                            </button>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="col-md-6 col-sm-6 col-xs-6" style="position: relative; top: 20px;">
                            <label><h5>Download</h5></label>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2" style="position: relative; top: 20px;">

                            <a ng-if="fileDownloadState === 'READY'" class="btn btn-default"
                               style="background-color: #a3d100; color: #000000; font-weight: 500" role="button"
                               target="_self" href="{{DownloadCSVFileUrl}}" download="{{currentCSVFilename}}"
                               ng-click="downloadPress()">CSV&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-download"></i></a>
                            <button ng-if="fileDownloadState === 'RESET'" class="btn"
                                    style="background-color: #a3d100; color: #000000; font-weight: 500"
                                    ng-if="fileDownloadState === 'RESET'" type="button" ng-click="prepareToDownload()">
                                CSV&nbsp;&nbsp;&nbsp;&nbsp;
                                <i ng-class="buttonClass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-main-wrap" ng-if="isTableLoading==0">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="data-state-wrap">
                    Please Wait...
                </div>

            </div>
        </div>
    </div>

    <div class="search-main-wrap" ng-if="isTableLoading==2">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="data-state-wrap">
                    No Records Found!
                </div>

            </div>
        </div>
    </div>

    <div class="row" ng-if="isTableLoading==1">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    <div id="datatable-responsive_wrapper"
                         class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-wrapper"
                                     ng-slimscroll horizontal-scroll="true"
                                     height="100%"
                                     horizontal-scroll-position="bottom"
                                     size="5px" opacity="0.4">
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="Call Direction">Date
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="From">TotalInbound
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="To">TotalOutbound
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalQueued
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalQueueAnswered
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalQueueDropped
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalStaffCount
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">AverageInboundCallsPerAgent
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">AverageOutboundCallsPerAgent
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalStaffTime
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">AverageStaffTime
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalAcwTime
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">AverageAcwTime
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalTalkTimeInbound
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalTalkTimeOutbound
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalBreakTime
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalHoldTime
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">TotalIdleTime
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">AverageTalkTimeInbound
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-responsive"
                                                rowspan="1"
                                                colspan="1" aria-label="ReceivedBy">AverageTalkTimeOutbound
                                            </th>


                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd"
                                            ng-repeat="record in reportData">
                                            <td>{{record.Date}}</td>
                                            <td>{{record.totalInbound}}</td>
                                            <td>{{record.totalOutbound}}</td>
                                            <td>{{record.totalQueued}}</td>
                                            <td>{{record.totalQueueAnswered}}</td>
                                            <td>{{record.totalQueueDropped}}</td>
                                            <td>{{record.TotalStaffCount}}</td>
                                            <td>{{record.AverageInboundCallsPerAgent}}</td>
                                            <td>{{record.AverageOutboundCallsPerAgent}}</td>
                                            <td>{{record.totalStaffTime}}</td>
                                            <td>{{record.AverageStaffTime}}</td>
                                            <td>{{record.totalAcwTime}}</td>
                                            <td>{{record.AverageAcwTime}}</td>
                                            <td>{{record.totalTalkTimeInbound}}</td>
                                            <td>{{record.totalTalkTimeOutbound}}</td>
                                            <td>{{record.totalBreakTime}}</td>
                                            <td>{{record.totalHoldTime}}</td>
                                            <td>{{record.totalIdleTime}}</td>
                                            <td>{{record.AverageTalkTimeInbound}}</td>
                                            <td>{{record.AverageTalkTimeOutbound}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>