<!--<div class="col-md-12 col-sm-6 col-xs-12">

    &lt;!&ndash; application list &ndash;&gt;
    <div class="x_panel bg-light-gray animated fadeIn">
        <div class="x_title border-0">
            <h1 class="font-robot font-300 text-uppercase font-15">Choose Tag Category </h1>

            <div class="col-xs-12">
                <div class="tile-stats m-top15">
                    <form class="form-horizontal form-label-left input_mask">

                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group has-feedback">
                                <select class="form-control has-feedback-left ng-pristine ng-untouched ng-valid ng-empty"
                                        ng-model="currentCatID"
                                        ng-model-options="{trackBy: '$value'}">
                                    <option value="" disabled="" selected="">Select an category
                                    </option>
                                    <option ng-repeat="tagCategory in tagCategories"
                                            value="{{tagCategory._id}}">
                                        {{tagCategory.name}}
                                    </option>
                                </select>
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>


                            <div class="col-md-2 col-sm-2 col-xs-12  ">
                                <button type="button" class="btn btn-success btn-block  btn- pull-right"
                                        ng-click="treeBuilder()">
                                    Show
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    &lt;!&ndash; end &ndash;&gt;

    &lt;!&ndash; view application users &ndash;&gt;

    <div class="col-md-4 col-sm-12 col-xs-12 edit-main-wrap" ng-show="my_data.length>0">
        <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith" new-child-data="newChildObject" add-new-child="showNewChildModal()"></abn-tree>

    </div>
    <div>

        <button type="submit" class="btn btn-primary" ng-click="deleteTag()">Detach</button>
    </div>
    &lt;!&ndash; end &ndash;&gt;
</div>-->


<div>
    <div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class=" font-300">
                            <a ng-hide="editMode">Choose Tag category</a>

                        </h2>
                    </div>
                    <div class="col-md-3 ">
                        <div class="pull-right user-option-wrap" ng-show="!editMode">
                            <h3>
                                <small ng-click="showTaggingConig()" style="cursor: pointer"><i
                                        class="fa fa-cog"></i></small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="">
                <div class="col-md-9 col-sm-9 col-xs-12 form-group ">
                    <select class="form-control has-feedback-left ng-pristine ng-untouched ng-valid ng-empty"
                            ng-model="currentCatID"
                            ng-model-options="{trackBy: '$value'}">
                        <option value="" disabled="" selected="">Select an category
                        </option>
                        <option ng-repeat="tagCategory in tagCategories"
                                value="{{tagCategory._id}}">
                            {{tagCategory.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group ">
                    <button type="button" class="btn btn-success btn-block  btn- pull-right"
                            ng-click="treeBuilder()">
                        Show
                    </button>
                </div>

                <div class="col-md- col-sm-12 col-xs-12 edit-main-wrap" ng-show="my_data.length>0 && isTreeView">
                    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)"
                              expand-level="2" initial-selection="Granny Smith" new-child-data="newChildObject"
                              add-new-child="showNewChildModal()" delete_tag="detachTag()"></abn-tree>

                </div>
                <!--<div>

                    <button type="submit" class="btn btn-primary" ng-click="detachTag()">Detach</button>
                </div>-->

            </div>
        </div>

        <div class="row">
            <h2 ng-show="isConfig" class="pull-left">Tag Categories
                <small ng-click="showTagCatConig()" style="cursor: pointer"><i
                        class="fa fa-plus 2x" ng-show="isConfig && !isTagCatConfig"></i></small>
            </h2>

            <div class="row" ng-show="isTagCatConfig">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">

                                    <input type="text" ng-model="searchCriteria" class="form-control"
                                           placeholder="Search for...">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Go!</button>
                                </span>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="showNewCategoryModal()"><span
                                    class="fa fa-plus" aria-hidden="true"></span>New
                            </button>

                            <div id="datatable-responsive_wrapper"
                                 class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="table-wrapper"
                                             ng-slimscroll horizontal-scroll="true"
                                             height="100%"
                                             horizontal-scroll-position="bottom"
                                             size="5px" opacity="0.4">

                                            <table id="datatable-responsive"
                                                   class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                                   cellspacing="0" width="100%" role="grid"
                                                   aria-describedby="datatable-responsive_info">
                                                <thead>
                                                <tr role="row">
                                                    <th tabindex="0" aria-controls="datatable-responsive"
                                                        rowspan="1"
                                                        colspan="1" aria-label="Call Direction">Tag category Name
                                                    </th>

                                                    <th tabindex="0" aria-controls="datatable-responsive"
                                                        rowspan="1"
                                                        colspan="1" aria-label="To"> Actions
                                                    </th>


                                                </thead>
                                                <tbody>
                                                <tr role="row" class="odd"
                                                    ng-repeat="tagCat in tagCategories">
                                                    <td>{{tagCat.name}}</td>

                                                    <td class="col-sm-2">
                                                        <button type="submit" class="btn btn-primary"
                                                                ng-click="deleteCategory(tagCat)"><span
                                                                class="fa fa-trash-o" aria-hidden="true"></span>Delete
                                                        </button>

                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--</div>-->
                </div>


            </div>
        </div>

        <div class="row">
            <h2 ng-show="isConfig">Tags
                <small ng-click="showTagConig()" style="cursor: pointer"><i
                        class="fa fa-plus" ng-show="isConfig && !isTagConfig"></i></small>
            </h2>

        </div>


        <div class="row" ng-show="isTagConfig">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" ng-model="searchCriteria" class="form-control"
                                       placeholder="Search for...">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="showNewTagModal()"><span
                                class="fa fa-plus" aria-hidden="true"></span>New
                        </button>
                        <div id="datatable-responsive_wrapper2"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-8">
                                    <div class="table-wrapper"
                                         ng-slimscroll horizontal-scroll="true"
                                         height="100%"
                                         horizontal-scroll-position="bottom"
                                         size="5px" opacity="0.4">

                                        <table id="datatable-responsive2"
                                               class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                               cellspacing="0" width="100%" role="grid"
                                               aria-describedby="datatable-responsive_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="" tabindex="0" aria-controls="datatable-responsive"
                                                    rowspan="1"
                                                    colspan="1" aria-label="Call Direction">Tag Name
                                                </th>
                                                <th class="" tabindex="0" aria-controls="datatable-responsive"
                                                    rowspan="1"
                                                    colspan="1" aria-label="Call Direction">Tag description
                                                </th>

                                                <th class="" tabindex="0" aria-controls="datatable-responsive"
                                                    rowspan="1"
                                                    colspan="1" aria-label="To">Action
                                                </th>

                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd"
                                                ng-repeat="tag in tagList">
                                                <td>{{tag.name}}</td>
                                                <td>{{tag.description}}</td>
                                                <td class="col-md-2">
                                                    <button type="submit" class="btn btn-primary"
                                                            ng-click="deleteTag(tag)"><span class="fa fa-trash-o"
                                                                                            aria-hidden="true"></span>Delete
                                                    </button>
                                                </td>


                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>


        </div>


        <div class="clearfix"></div>
    </div>
</div>




