<!--<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">

    Selected: <b>{{ selectedFile.Filename }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>-->


<div class="videogular-container">
    <videogular vg-theme="config.theme.url" vg-auto-play="true">
        <vg-media vg-src="config.sources"
                  vg-tracks="config.tracks"
                  vg-native-controls="true" >
        </vg-media>
    </videogular>
</div>

<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
<script src="http://static.videogular.com/scripts/videogular/latest/videogular.js"></script>-->
