<div class="row">


    <div class="col-md-12 col-sm-6 col-xs-12">

        <!-- application list -->
        <div class="x_panel bg-light-gray animated fadeIn">
            <div class="x_title border-0">
                <div class="col-sm-12">
                    <div class="edit-close pull-right">
                        <i class="fa fa-close" ng-click="viewAction()"></i>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6"><h2 class="font-robot font-300 text-uppercase font-15">New Appointment</h2></div>
                <div class="col-md-6 col-sm-6 col-xs-6 form-group top_search">
                    <div class="input-group">
                        <input type="text" ng-model="searchCriteria" class="form-control"
                               placeholder="Search for...">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Go!</button>
                                </span>
                    </div>
                </div>

                <form name="newApp">
                    <div class="col-xs-12">
                        <div class="tile-stats m-top15">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left"
                                               ng-model="newAppointment.AppointmentName"
                                               placeholder="Appointment Name"
                                               ng-change="appointmentSummary(newAppointment)" required>
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    <div class="col-md-5 col-sm-5 col-xs-12 form-group has-feedback">
                                        <div class="col-md-6">
                                            <select class="form-control "
                                                    ng-model="application"
                                                    ng-change="changeApplication(application)"
                                                    placeholder="select Recurrence Pattern">
                                                <option value="" disabled selected>Application</option>
                                                {{applications}}
                                                <option value="{{application.value}}"
                                                        ng-repeat="application in applications track by $index">
                                                    {{application.value}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control "
                                                    ng-model="newAppointment.Action"
                                                    placeholder="select Recurrence Pattern">
                                                <option value="" disabled selected>PBX Status</option>
                                                <option value="{{PBX.id}}" ng-repeat="PBX in pbxStatus track by $index">
                                                    {{PBX.value}}
                                                </option>
                                            </select>
                                        </div>
                                        <!--<input type="text" class="form-control has-feedback-left"-->
                                        <!--ng-model="newAppointment.Action"-->
                                        <!--placeholder="Action">-->
                                        <!--<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>-->
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                        <select class="form-control has-feedback-left"
                                                placeholder="select Recurrence Pattern"
                                                ng-model="newAppointment.RecurrencePattern"
                                                ng-change="optionChanger('RecurrencePattern')">
                                            <option value="" disabled selected>Select Recurrence Pattern</option>
                                            <option selected>NONE</option>
                                            <option>WEEKLY</option>

                                        </select>
                                        <span class="fa fa-envelope form-control-feedback left"
                                              aria-hidden="true"></span>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> Start Date</span>
                                        <input type="text" class="form-control" ng-model="newAppointment.StartDate"
                                               ng-change="appointmentSummary(newAppointment)" name="startDate"
                                               ng-required="newAppointment.EndDate"
                                               datepicker>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> Start Time</span>


                                        <input type="text" class="form-control" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                               ng-model="newAppointment.StartTime" ng-required="newAppointment.EndTime"
                                               ng-change="appointmentSummary(newAppointment)"/>
                                        <span style="color: blue" class="pull-right"> (ex :- 01:30 , 23:22)</span>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> End Date</span>
                                        <input type="text" class="form-control" ng-model="newAppointment.EndDate"
                                               ng-change="appointmentSummary(newAppointment)" name="endDate"
                                               ng-required="newAppointment.StartDate"
                                               datepicker>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <span style="color: grey"> End Time</span>
                                        <input type="text" class="form-control" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                               ng-model="newAppointment.EndTime" ng-required="newAppointment.StartTime"
                                               ng-change="appointmentSummary(newAppointment)"/>
                                        <span style="color: blue" class="pull-right"> (ex :- 01:30 , 23:22)</span>
                                    </div>

                                    <div class="col-md-12 col-sm-6 col-xs-12 form-group"
                                         style="margin-top: 15px;margin-bottom: 15px;">

                                        <tags-input ng-model="newAppointment.newDaysOfWeek" display-property="DayName"

                                                    add-from-autocomplete-only="true" on-tag-added="onChipAdd($tag)"
                                                    on-tag-removed="onChipDelete($tag)" ng-disabled="!dayListMode"
                                                    min-length="1"
                                                    placeholder="Add Days"
                                                    ng-required="newAppointment.RecurrencePattern=='WEEKLY'"
                                                    ng-change="appointmentSummary(newAppointment)">
                                            <auto-complete source="querySearch($query)" load-on-empty="true"
                                                           load-on-focus="true" min-length="1"></auto-complete>
                                        </tags-input>
                                    </div>

                                </div>


                                <div class="row">


                                    <div class="col-md-3 col-sm-3 col-xs-12  ">

                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12  ">

                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12  ">

                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-12  ">
                                        <button id="addBtn" type="button"
                                                class="btn btn-success btn-block  btn- pull-right"
                                                ng-click="saveAppointment()" ng-disabled="newApp.$invalid">
                                            Add
                                        </button>

                                    </div>

                                </div>

                                <div ng-show="showSummary" class="pull-left">{{summaryText}}</div>

                            </form>
                        </div>
                    </div>
                </form>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end -->

        <!-- view application users -->
        <div class="x_panel">
            <div class="x_content">
                <ul class="list-unstyled">
                    <li ng-repeat="Appointment in AppointmetList | filterBy: ['AppointmentName']: searchCriteria">

                        <editappointment schedule="schedule" appointment="Appointment" appointmentList="AppointmetList"
                                         show-edit="showEdits()" update-appointment="removeDeleted(Appointment)"
                                         reloadpage="reloadPage()"></editappointment>


                    </li>

                    <paging ng-show="showPaging"
                            class="small"
                            page="currentPage"
                            page-size="pageSize"
                            total="pageTotal"
                            show-prev-next="true"
                            show-first-last="true"
                            text-next-class="glyphicon glyphicon-chevron-right"
                            text-prev-class="glyphicon glyphicon-chevron-left"
                            text-first-class="glyphicon glyphicon-backward"
                            text-last-class="glyphicon glyphicon-forward"
                            paging-action="getPageData('attribute', page, pageSize, total)">
                    </paging>
                </ul>
            </div>
        </div>
        <!-- end -->
    </div>

</div>

<script type="text/javascript">
    $('#timepickerSt').timepicker({
        template: false,
        showInputs: false,
        minuteStep: 5
    });
</script>