<img class="img-responsive avatar-view"
     style='height: 100%; width: 100%; object-fit: contain'
     src="{{TemplateUrl}}" alt="Preview"
     title="Conference Template">

<small>{{TemplateName}} : {{TemplateDecryption}}</small>


<!--
<div class="row">
    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-group"> {{TemplateName}}</i>
                    <small>{{TemplateDecryption}}</small>
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <img class="img-responsive avatar-view"
                         style='height: 100%; width: 100%; object-fit: contain'
                         src="{{TemplateUrl}}" alt="Preview"
                         title="Conference Template">
                </div>
            </div>
        </div>

    </div>

</div>
-->
