<div class="q-chart-wrp">
    <div class="chart-wrp">
        <div easypiechart options="pieoption" percent="que.presentage">
            <div class="d1-pie-text">{{que.presentage}}%</div>
        </div>
    </div>

    <div class="q-chart-header-wrp">
        <div class="header">
            {{que.queuename}}
        </div>
        <div class="chart-name">
            ANSWERED
        </div>
    </div>
    <div class="q-chart-text-wrp">
        <div class="header-text">
            <div class="current-w-text">
                Current Waiting
            </div>
            <div class="current-w-num">
                {{que.CurrentWaiting}}
            </div>
        </div>
        <div class="header-text bottom-t">
            <div class="current-w-text">
                Max Wait Time
            </div>
            <div class="current-w-num">
                <timer start-time="que.MaxWaitingMS" interval="1000"> {{hhours}} : {{mminutes}} : {{sseconds}}</timer>

            </div>
        </div>


    </div>
</div>