<div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
            <div class="title_left">
                <h3 class="font-robot font-600 ">Call Monitor</h3>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2 class="font-robot font-300 text-uppercase font-15">ongoing call viewer
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <button type="button" class="btn btn-success" ng-click="LoadCurrentCalls()">
                            Refresh
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-success" ng-click="RegisterThePhone()"ng-show="!isRegistered">
                            Register
                        </button>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">


                <div class="">
                    <table class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline">
                        <thead>
                        <tr class="headings veery-tbl-clmn-hdr">
                            <th class="column-title">Direction</th>
                            <th class="column-title selectedTpcs">From</th>
                            <th class="column-title selectedTpcs">To</th>
                            <th class="column-title selectedTpcs">Receiver</th>
                            <th class="column-title selectedTpcs">Skill</th>
                            <th class="column-title selectedTpcs">Call Duration</th>
                            <th class="column-title selectedTpcs">Call Answered Time</th>
                            <th class="column-title lstCol"></th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr class="even pointer veery-tbl-body" ng-repeat="call in CallObj">

                            <td class="valAlgn">{{call.Direction}}</td>
                            <td class="valAlgn">{{call.FromID}}</td>
                            <td class="valAlgn">{{call.ToID}}</td>
                            <td class="valAlgn">{{call.Receiver}}</td>
                            <td class="valAlgn">{{call.Skill}}</td>
                            <td class="valAlgn">{{call.CallDuration}}</td>
                            <td class="valAlgn">{{call.LocalTime}}</td>

                            <td class="lstCol">
                                <button type="submit" class="btn btn-primary btn-sm"
                                        ng-click="ListenCall(call)" ng-disabled="inCall"><span class="" aria-hidden="true"></span> Listen
                                </button>
                                <!--<button type="submit" class="btn btn-primary" ng-click="BargeCall(call.BargeID)"><span class="fa fa-phone" aria-hidden="true"></span> Barge</button>-->
                                <!--<button type="submit" class="btn btn-primary" ng-click="BargeCall(call.BargeID)"><span class="fa fa-phone" aria-hidden="true"></span> Barge</button>-->
                            </td>


                        </tr>

                        <audio id="audio_remote" autoplay="autoplay"></audio>
                        </tbody>
                    </table>
                    <!-- <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="phoneSatus">-->

                </div>
            </div>
        </div>
    </div>

</div>