<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content col-md-12 col-sm-12 col-xs-12">
                <h3>Email Scheduler</h3>
            </div>
            <br><br><br><br>
            <uib-tabset active="0">
                <uib-tab index="0" heading="Email Report Recipients">
                    <br><br>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <label>Report Type</label>
                        <select name="datatable-responsive_length" ng-model="reportType.reportType" ng-change="loadRecipients()"
                                aria-controls="datatable-responsive" class="form-control">
                            <option value="CDR_DAILY_REPORT">CDR DAILY REPORT</option>
                            <option value="ABANDONCDR_DAILY_REPORT">ABANDON CDR DAILY REPORT</option>
                            <option value="CALL_SUMMARY_HOURLY_REPORT">CALL SUMMARY HOURLY REPORT</option>
                            <option value="CALL_SUMMARY_DAILY_REPORT">CALL SUMMARY DAILY REPORT</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label>Template</label>
                        <select name="templateSelect" class="select2_single form-control" aria-hidden="true" ng-options="template.name as template.name for template in templateList"
                                ng-model="selectedTemplate.selectedTemplate">
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <button type="button" ng-disabled="!reportType" style="position: relative; top: 25px;" class="btn btn-success" ng-click="saveRecipients()">Save</button>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br><br>
                        <div>
                            <label>Users</label>
                            <tags-input ng-model="reportUsers" display-property="username" key-property="_id"
                                        add-from-autocomplete-only="true" min-length="0">
                                <auto-complete source="querySearch($query)" load-on-empty="true" max-results-to-show="10000" min-length="1" load-on-focus="true"></auto-complete>
                            </tags-input>
                        </div>

                    </div>
                </uib-tab>
                <uib-tab index="1" heading="CRON Scheduler">
                    <div ng-include="'views/reportEmailConfig/cronScheduler.html'"></div>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>

</div>