<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
    <select class="form-control has-feedback-left" placeholder="Select Template"
            ng-model="ngModel.field">
        <option value="" disabled selected>Select Template</option>
        <option ng-repeat="template in renderTemplates" value="{{template.name}}">
            {{template.name}}
        </option>
    </select>
    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback"></div>
<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
    <input type="text" class="form-control has-feedback-left"
           ng-model="ngModel.value.to"
           placeholder="To">
    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
    <textarea class="form-control  has-feedback-left" ng-model="ngModel.value.body" ng-disabled="ngModel.value.template" placeholder="Enter Message body here"></textarea>
    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback"></div>
