<div class="row">

    <div class="col-md-12 col-sm-6 col-xs-12">

        <uib-tabset active="0">
            <uib-tab index="0" heading="Number Upload">
                <div ng-include="'views/campaign-number-upload/numberUpload.html'">
                </div>
            </uib-tab>
            <uib-tab index="1" heading="DNC List">
                <div ng-include="'views/campaign-number-upload/dncList.html'">
                </div>
            </uib-tab>
        </uib-tabset>

    </div>

</div>