<div ng-show="isDeleted">
    <div class="col-md-9 col-sm-12 col-xs-12 form-group">
        <textarea class="resizable_textarea form-control" ng-model="styleitem.content" placeholder="Enter content here"> </textarea>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
        <h3>

            <small ng-disabled="true" ng-click="deleteStyle()" style="cursor: pointer"><i
                    class="fa fa-trash-o"></i></small>

        </h3>
    </div>
</div>
<!--<div ng-show="StyleList.length>0">
    <div class="col-md-9 col-sm-12 col-xs-12 form-group">
        <textarea class="resizable_textarea form-control" ng-model="newstyleitem.value" placeholder="Enter content here"> </textarea>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
        <h3>

            <small ng-disabled="true" ng-click="deleteStyle()" style="cursor: pointer" ng-show="isAddstatus"><i
                    class="fa fa-trash-o"></i></small>

        </h3>
    </div>
</div>-->
