<div>
    <div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-9">
                    <h2 class=" font-300">
                        {{chattemplate.content}}

                    </h2>
                </div>
                <div class="col-md-3 ">
                    <div class="pull-right user-option-wrap">
                        <h3>
                            <small ng-click="deleteChatTemplate(chattemplate._id)" style="cursor: pointer"><i
                                    class="fa fa-trash-o"></i></small>

                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>