<div class="block">
    <div class="tags">
        <a class="tag">
            <span>{{holdmusic.id}}</span>
        </a>
    </div>
    <div class="block_content">
        <h2 class="title">
            <a ng-hide="editMode">Name : {{holdmusic.Name}}</a>
            <a ng-disabled="true" ng-click="removeHoldMusic(holdmusic)" style="cursor: pointer"><i
                    class="fa fa-trash-o"></i></a>
            <a ng-disabled="true" ng-click="editHoldMusic()" style="cursor: pointer"><i class="fa fa-edit"></i></a>
        </h2>

        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="editMode">
            <br>

            <div class="col-md-12 col-sm-6 col-xs-12 col-xs-12">
                <div class="tile-stats">

                    <form class="form-horizontal form-label-left input_mask">
                        <label class="control-label col-md-2 col-sm-6 col-xs-12">Name</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="holdmusic.Name"
                                   placeholder="Hold Music Name" ng-disabled="true">

                        </div>
                        <label class="control-label col-md-2 col-sm-6 col-xs-12">Description</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" ng-model="holdmusic.Description"
                                   placeholder="Description">

                        </div>

                        <label class="control-label col-md-2 col-sm-6 col-xs-12">Hold Music</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">

                            <select class="form-control" ng-model="holdmusic.MOH"   ng-model-options="{trackBy: '$value'}" ng-change="selectionsChanged()">
                                <option ng-repeat="musicFile in fileList" value="{{musicFile.Filename}}" >{{musicFile.Filename}}</option>
                            </select>
                            <i class="fa fa-close" ng-click="makeMOHEmpty()"></i>

                        </div>

                        <label class="control-label col-md-2 col-sm-6 col-xs-12">Announcement</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <select class="form-control" ng-model="holdmusic.Announcement"   ng-model-options="{trackBy: '$value'}" ng-change="selectionsChanged()">
                                <option ng-repeat="musicFile in fileList" value="{{musicFile.Filename}}" >{{musicFile.Filename}}</option>
                            </select>
                            <i class="fa fa-close " ng-click="makeAnnouncementEmpty()"></i>
                        </div>

                        <label class="control-label col-md-2 col-sm-6 col-xs-12">First Announement</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                            <select class="form-control" ng-model="holdmusic.FirstAnnounement"   ng-model-options="{trackBy: '$value'}" ng-change="selectionsChanged()">
                                <option ng-repeat="musicFile in fileList" value="{{musicFile.Filename}}" >{{musicFile.Filename}}</option>
                            </select>
                            <i class="fa fa-close" ng-click="makeFirstAnnounementEmpty()"></i>
                        </div>
                        <label class="control-label col-md-2 col-sm-6 col-xs-12">Announcement Time</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                            <input type="number" class="form-control has-feedback-left" ng-model="holdmusic.AnnouncementTime" min="0">
                            <span class="form-control-feedback right" aria-hidden="true">ms</span>
                        </div>

                        <label class="control-label col-md-2 col-sm-6 col-xs-12">Max Queue Time</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                            <input type="number" class="form-control has-feedback-left" ng-model="holdmusic.MaxQueueTime" min="0">
                            <span class="form-control-feedback right" aria-hidden="true">ms</span>
                        </div>

                        <label class="control-label col-md-2 col-sm-6 col-xs-12">Position Announcement</label>
                        <div class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="checkbox"  ng-model="holdmusic.PositionAnnouncement">

                        </div>


                    </form>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-10">
                    <button type="submit" class="btn btn-success" ng-click="updateHoldMusicDetails()">
                        Update
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="cancelUpdate()">
                        Cancel
                    </button>
                </div>
            </div>


        </div>


        <div class="byline" ng-hide="editMode">
            <span>{{resource.createdAt|date:'MM/dd/yyyy @ h:mma'}}</span>
        </div>
        <div ng-hide="editMode">
            <p class="excerpt col-md-4"> Hold Music : {{holdmusic.MOH}} </p>

            <p class="excerpt col-md-4"> Announcement : {{holdmusic.Announcement}} </p>

            <p class="excerpt col-md-4"> First Announement: {{holdmusic.FirstAnnounement}} </p>

            <p class="excerpt col-md-12"> Announcement Time : {{holdmusic.AnnouncementTime}} </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>